// FONT :
@import url(//db.onlinewebfonts.com/c/40ea291a03f81ef88a049f19415be431?family=Apercu+Pro);

// VARIABLES et MIXINS:
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Apercu Pro', sans-serif;
}
a {
    text-decoration: none;
    transition: color 0.15s ease;
}

body {
    min-height: 100vh;
    position: relative;
    background: $body-bg;
}

.header {
    width: 100%;
    height: fit-content;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(6px) brightness(75%);
    background-color: rgba($color: #ececec, $alpha: 0.1);
    border-bottom: rgba($color:$main-color, $alpha: 0.1) solid 1px;
    
    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 0.5rem 0;
    }

    &__logo {
        width: 10rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__navbar {
        display: flex;
        align-items: center;
        letter-spacing: 1px;

        ul {
            display: flex;
            align-items: center;
            gap: 2.5rem;
            font-size: 1rem;
            color: white;
            font-weight: bold;

            @media screen and (max-width: 768px) {
                width: 100%;
                justify-content: space-evenly;
                font-size: 0.8rem;
                gap: 1rem;
                font-weight: normal;
            }

            li {
                white-space: nowrap;

                @media screen and (max-width: 768px) {
                    border-right: white 1px solid;
                    padding-right: 0.5rem;
                }

                a {
                    text-decoration: none;
                    transition: color 0.15s ease;
                    color: white;
                
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
            
            li:nth-of-type(1) {
                a{
                    border-bottom: solid 2px $secondary-color;
                    padding-bottom: 0.3rem;
                }
            }

            li:last-child {
                display: flex;
                align-items: center;
                gap: 1rem;
                border: solid 1px $secondary-color;
                padding: 0.3rem 0.5rem;
                border-radius: 100vh;
                cursor: pointer;

                @media screen and (max-width: 768px) {
                    flex-direction: row-reverse;
                    padding: 0.3rem 0.6rem 0.3rem 0.3rem;
                }

                .profil-picture {
                    width: 2.5rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background: $secondary-color;

                    @media screen and (max-width: 768px) {
                        width: 2rem;
                    }
                }
            }
        }
    }


}

main {
    display: flex;
    justify-content: space-between;
    min-height: 40rem;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    margin-top: $header-hight + 4;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 15rem;
    }


//-------------------------------
// ⚽ GESTIONNAIRE DE MATCHS ⚽
//-------------------------------
    .matchManager {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        background: $managerBlocs-bg;
        box-shadow:  0 0 0 #45464e;
        border-radius: $bloc-borderRadius;
        padding: 1.5rem;

        // Bouton "Nouveau match"
        &__newMatch {
            @include mainButton(#dddddd, 1.1rem);
            justify-content: start;
            width: fit-content;
            margin-bottom: 2.5rem;
            position: relative;
            overflow: hidden;
            transition: color 0.2s cubic-bezier(0.25, 1, 0.5, 1);

            @media screen and (max-width: 768px) {
                width: 100%;
                justify-content: center;
            }

            div {
                z-index: 1;
                white-space: nowrap;
            }
            i{
                margin-right: 1rem;
                font-size: 1.5rem;
                color: $secondary-color;
                z-index: 1;

                @media screen and (max-width: 768px) {
                    color: $main-color;
                }
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: $secondary-color;
            }
            &::after {
                content: "";
                width: 102%;
                height: 103%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-16.8rem, -50%);
                background: $main-color;
                transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1);

                @media screen and (max-width: 768px) {
                    transform: translate(-150%, -50%);
                }
    
            }
            &:hover {
                color: #A9F706;

                &::after {
                    transform: translate(-50%, -50%);
                }
            }
            &:active {
                transform: scale(0.98);
                transition: transform 0.1s ease;
            }
           
        }
        
        // Historique des matchs
        &__myMatches {
            width: 95%;
            flex: 1;
            overflow-y: hidden;
            display: flex;
            flex-direction: column;

            &--title {
                margin-bottom: 1rem;
                margin-left: 0.5rem;
                font-size: 1.3rem;
            }

            &--allMatches {
                flex: 1;
                padding: 1rem;
                background: $editorBlocs-bg;
                border-radius: 1.2rem;
                overflow: hidden;

                &-contentScrollable {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                    min-height: 20rem;
                    max-height: 25rem;
                    overflow-y: scroll;
                    padding-right: 1rem;

                    &::-webkit-scrollbar {
                        width: 10px;
                        background-color: $body-bg;
                        border-radius: 100vh;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $managerBlocs-bg;	
                        border-radius: 100vh;
                    }
    
                    &-match {
                        border: solid 1px transparent;
                        border-radius: 1.3rem;
                        padding: 0.5rem 1rem;
                        cursor: pointer;
                        background: $managerBlocs-bg;
                        transition: background 0.3s ease-in-out;
    
                        p:first-child {
                            margin-bottom: 0.2rem;
                        }
                        p:last-child {
                            font-size: 0.8rem;
                        }
    
                        &:hover {
                            background: $secondary-color;
                            font-weight: bold;
                        }
                    }
                }
                
            }
        }
    }

//-------------------------------
// 📝 EDITEUR DE MATCHS 📝
//-------------------------------
    .matchEditor {
        flex: 4;
        display: flex;
        gap: 2rem;

        @media screen and (max-width: 992px) {
            flex-direction: column;
        }

        // 📑 Informations du match 
        &_content {
            flex: 3;
            display: flex;
            gap: 2rem;
            flex-direction: column;

            @media screen and (max-width: 992px) {
                flex: 1;
            }

            > div {
                @include editorBlocs-border;
                @include editorBlocs-shadow;
                background: $editorBlocs-bg;
                width: 100%;
                border-radius: 2rem;
                padding: 1.5rem;

                h2 {
                    margin-bottom: 1rem;
                }
            }

            &__titleBanner {
                display: flex;
                justify-content: space-between;
                align-items: start;
                background: $editorBlocs-bg !important;
                gap: 1rem;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                }

                &--infos {
                    flex: 1;

                    @media screen and (max-width: 768px) {
                        width: 100%; 
                    }

                    &-title {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;
        
                        .matchStatus {
                            display: flex;
                            gap: 1rem;
                            margin-bottom: 1rem;

                            @media screen and (max-width: 768px) {
                                justify-content: space-between;
                            }

                            &--tag {
                                border-radius: 6px;
                                padding: 0.3rem 0.6rem;
                                font-size: 0.85rem;
                                width: fit-content;
                                font-weight: bold;
                                display: flex;
                                align-items: center;

                                i {
                                    margin-right: 0.45rem;
                                }

                                &.dateState {
                                    background: rgb(255, 200, 97);
                                }
                                &.publicationState {
                                    border: solid 1px green;
                                    color:green;
                                }
                            }
                            
                        }
                        h1 {
                            margin: 0;
                        }
                    }

                    &-details {
                        display: flex;
                        flex-direction: column;
                        gap: 0.6rem;
                        padding: 1rem 0.6rem 0.6rem 0.5rem;
                        font-size: 0.9rem;
                        position: relative;

                        // trait de séparation
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 50%;
                            height: 2px;
                            border-radius: 100vh;
                            background: $managerBlocs-bg;

                            @media screen and (max-width: 768px) {
                                width: 100%;
                                height: 1px;
                                background: rgb(165, 165, 165);
                            }
                        }

                        &-detail {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: flex;
                            align-items: start;
                            text-align: justify;
                            gap: 1rem;

                            .icon {
                                min-width: 2rem;
                                display: flex;
                                justify-content: center;
                                align-items: start;
                                color: $main-color;
                                font-size: 1.05rem;
                            }  

                            &.captain {
                                
                                // .captain-icon {
                                //     color: rgb(255, 208, 0);
                                // }
                                .captain-UserName a {
                                    font-weight: bold;
                                    color: $main-color;

                                    &:hover {
                                        color: rgba($main-color, $alpha: 0.6);
                                    }
                                }
                            }
                        }
                    }
                }
                
                
                &--settings {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 0.7rem;
                    width: fit-content;
                    height: 100%;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                        flex-direction: column;
                    }
                    
                    .settingBtn {
                        display: flex;
                        width: fit-content;
                        padding: 0.7rem 1rem;
                        border: none;
                        font-size: 0.85rem;
                        cursor: pointer;
                        border-radius: 0.5rem;
                        font-weight: bold;
                        transition: all 0.2s ease;

                        i {
                            margin-right: 0.5rem;
                        }
                    }

                    .postButton {
                        @include mainButton(#b8b8b8, 1rem);
                        border-radius: 1rem;
                        width: 100%;
                        flex: 1;
                        position: relative;
                        overflow: hidden;

                        div, i {
                            z-index: 1;
                        }
                        i {
                            font-size: 1.2rem;
                            margin-right: 0.7rem;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background: $secondary-color;
                        }
                        &::after {
                            content: "";
                            width: 150%;
                            height: 150%;
                            border-radius: 100vh;
                            position: absolute;
                            transform: translate(72%, -72%);
                            background: $main-color;
                            transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);

                            @media screen and (max-width: 768px) {
                                width: 30rem;
                                height: 30rem;
                                border-radius: 50%;
                                transform: translate(56%, -56%);
                            }
                        }

                        &:hover {
                            color: $secondary-color;

                            &::after {
                                transform: translate(0%, 0%);
                            }
                        }
                        &:active {
                            transform: scale(0.98);
                            transition: transform 0.1s ease;
                        }
                    }
                    .modifyButton {
                        width: 100%;
                        background: #ededed;
                        border: solid 1px $managerBlocs-bg;

                        &:hover {
                            background: $managerBlocs-bg;
                        }
                    }
                    .deleteButton {
                        width: 100%;
                        background: #ededed;
                        border: solid 1px rgb(230, 0, 0);
                        color: rgb(230, 0, 0);

                        &:hover {
                            background: rgb(230, 0, 0);
                            color: white;
                        }
                    }
                }
            }

            &__description {
                min-height: 12rem;
                overflow: hidden;

                &--image {
                    width: 18rem;
                    aspect-ratio: 4 / 3;
                    float: right;
                    margin: 0 0 1rem 1rem;
                    overflow: hidden;
                    border-radius: 1rem;
                    box-shadow: 0 0 15px scale-color($color: $editorBlocs-bg, $lightness: -30%, $alpha: 1.0%);  
                    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1); 
                    cursor: pointer;
                    
                    &:hover {
                        box-shadow: 0px 0px 0 $main-color;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                p {
                    text-align: justify;
                }
            }

        }


        // 🏆 Meilleurs joueurs 
        &__bestPlayers {
            @include editorBlocs-shadow;
            background: $editorBlocs-bg;
            flex: 1;
            height: fit-content;
            border-radius: $bloc-borderRadius;
            padding: 1.5rem;
            position: relative;
            border: solid $gradientBorder-MVP rgba($color: #000000, $alpha: 0.0);
            background-clip: padding-box;

            &::before {
                content: '';
                position: absolute;
                inset: -$gradientBorder-MVP;
                z-index: -1;
                background: linear-gradient(130deg, $secondary-color, yellow);
                border-radius: $bloc-borderRadius;
            }


            &--title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem; 

                i {
                    font-size: 1.4rem;
                    margin-right: 1rem;
                }
            }

            &--players {
                display: flex;
                flex-direction: column;
                gap: 1.1rem;

                &-player {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 2rem;

                    &-picture {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 2rem;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        border: solid 1px $main-color;
                        color: $main-color;
                    }
                }
            }
        }
    }

}

footer {
    width: 100%;
    height: 10rem;
    margin-top: 4rem;
    background-color: hsl(235, 6%, 20%);
}



