// FONT :
@import url(//db.onlinewebfonts.com/c/40ea291a03f81ef88a049f19415be431?family=Apercu+Pro);

// VARIABLES et MIXINS:
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Apercu Pro', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

    form {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        padding: 2rem;
        margin-top: 3rem;
        
        input {
            border-radius: 10px;
            height: 1.5rem;
            border: solid 1px black;
        }

        .identifiant {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        .password {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            border: black solid 1px;
            border-radius: 100vh;
            height: 3rem;

            &:hover {
                background: #ccc;
            }
            &:visited {
                color: black;
            }
        }
    }
}
  
  