// VARAIBLES :

$body-bg: #f5f5f5;
$header-hight: 5rem;
@media screen and (max-width: 768px) {
    $header-hight: 10rem;
}
$main-color: #401ACB;
$secondary-color: #A9F706;
$bloc-borderRadius: 2rem;
$managerBlocs-bg: #dbdbdb;
$editorBlocs-bg: #ececec;
$gradientBorder-MVP: 2px;




// MIXINS :

// Boutons d'actions principaux
@mixin mainButton($shadowColor, $fontSize) {
    display: flex;  
    align-items: center;
    justify-content: center;

    padding: 1rem;            
    border-radius: 1.2rem;
    border: none;
    background: transparent;
    border: solid 1px $main-color;
    color: $main-color;
    font-size: $fontSize;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    // box-shadow: 5px 5px 20px $shadowColor;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

// Bordures des blocs dans matchEditor
@mixin editorBlocs-border {
    border: solid 0px rgb(63, 63, 63);
}

// Ombre des blocs dans matchEditor
@mixin editorBlocs-shadow {
    box-shadow: 0px 0px 0px #4f4f4f;
}

