@font-face {
  font-family: "ApercuPro-Regular";
  src: url("../fonts/ApercuProRegular/ApercuPro-Regular.eot");
  src: url("../fonts/ApercuProRegular/ApercuPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ApercuProRegular/ApercuPro-Regular.woff2") format("woff2"), url("../fonts/ApercuProRegular/ApercuPro-Regular.woff") format("woff"), url("../fonts/ApercuProRegular/ApercuPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ApercuPro-Bold";
  src: url("../fonts/ApercuProBold/ApercuPro-Bold.eot");
  src: url("../fonts/ApercuProBold/ApercuPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ApercuProBold/ApercuPro-Bold.woff2") format("woff2"), url("../fonts/ApercuProBold/ApercuPro-Bold.woff") format("woff"), url("../fonts/ApercuProBold/ApercuPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "ApercuPro-Regular", sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.15s ease;
}

body {
  min-height: 100vh;
  position: relative;
  background: #f5f5f5;
}

#loader-container {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  inset: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader-container .loader {
  width: 50px;
  height: 50px;
  border-bottom: solid 10px #401ACB;
  border-radius: 50%;
  background: linear-gradient(215deg, #fdfc47, #24fe41);
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  width: 100%;
  height: fit-content;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(6px) brightness(75%);
  background-color: rgba(236, 236, 236, 0.1);
  border-bottom: rgba(64, 26, 203, 0.1) solid 1px;
}
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 0.5rem 0;
  }
}
.header__logo {
  width: 10rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
@media screen and (max-width: 768px) {
  .header__logo {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__logo div {
  padding: 0.5rem 0.6rem;
  background: linear-gradient(215deg, #fdfc47, #24fe41);
  border-radius: 8px;
  color: black;
  font-family: "ApercuPro-Bold", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 1px;
}
.header__navbar {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.header__navbar ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .header__navbar ul {
    width: 100%;
    justify-content: space-evenly;
    font-size: 0.7rem;
    gap: 1rem;
    font-weight: normal;
  }
}
.header__navbar ul li {
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .header__navbar ul li {
    border-right: white 1px solid;
    padding-right: 0.5rem;
  }
}
.header__navbar ul li a {
  text-decoration: none;
  transition: color 0.15s ease;
  color: white;
}
.header__navbar ul li a:hover {
  color: #A9F706;
}
.header__navbar ul li:nth-of-type(1) a {
  border-bottom: solid 2px #A9F706;
  padding-bottom: 0.3rem;
}
.header__navbar ul li:last-child {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: solid 1px #A9F706;
  padding: 0.3rem 0.5rem;
  border-radius: 100vh;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header__navbar ul li:last-child {
    flex-direction: row-reverse;
    padding: 0.3rem 0.6rem 0.3rem 0.3rem;
  }
}
.header__navbar ul li:last-child .profil-picture {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(215deg, #fdfc47, #24fe41);
}
@media screen and (max-width: 768px) {
  .header__navbar ul li:last-child .profil-picture {
    width: 2rem;
  }
}

main {
  display: flex;
  justify-content: space-between;
  min-height: 40rem;
  width: 100%;
  padding: 0 2rem;
  gap: 2rem;
  margin-top: 9rem;
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    margin-top: 15rem;
  }
}
main .matchManager {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background: #dbdbdb;
  box-shadow: 0 0 0 #45464e;
  border-radius: 2rem;
  padding: 1.5rem;
}
main .matchManager__newMatch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1.2rem;
  border: none;
  background: transparent;
  border: solid 1px #401ACB;
  color: #401ACB;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  justify-content: start;
  width: fit-content;
  margin-bottom: 2.5rem;
  position: relative;
  overflow: hidden;
  transition: color 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}
@media screen and (max-width: 768px) {
  main .matchManager__newMatch {
    width: 100%;
    justify-content: center;
  }
}
main .matchManager__newMatch div {
  z-index: 1;
  white-space: nowrap;
}
main .matchManager__newMatch i {
  margin-right: 2rem;
  font-size: 1.5rem;
  color: #A9F706;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  main .matchManager__newMatch i {
    color: #401ACB;
  }
}
main .matchManager__newMatch::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #A9F706;
}
main .matchManager__newMatch::after {
  content: "";
  width: 102%;
  height: 103%;
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-18rem, -50%);
  background: #401ACB;
  transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}
@media screen and (max-width: 768px) {
  main .matchManager__newMatch::after {
    transform: translate(-150%, -50%);
  }
}
main .matchManager__newMatch:hover {
  color: #A9F706;
}
main .matchManager__newMatch:hover::after {
  transform: translate(-50%, -50%);
}
main .matchManager__newMatch:active {
  transform: scale(0.98);
  transition: transform 0.1s ease;
}
main .matchManager__myMatches {
  width: 95%;
  flex: 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
main .matchManager__myMatches--title {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  font-size: 1.3rem;
}
main .matchManager__myMatches--allMatches {
  flex: 1;
  padding: 1rem;
  background: #ececec;
  border-radius: 1.2rem;
  overflow: hidden;
  direction: rtl;
}
main .matchManager__myMatches--allMatches-contentScrollable {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  width: 100%;
  min-height: 20rem;
  max-height: 25rem;
  overflow-y: scroll;
  padding-left: 1rem;
}
main .matchManager__myMatches--allMatches-contentScrollable::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 100vh;
}
main .matchManager__myMatches--allMatches-contentScrollable::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 100vh;
}
main .matchManager__myMatches--allMatches-contentScrollable::-webkit-scrollbar-thumb:hover {
  background-color: #B7B7B7;
}
main .matchManager__myMatches--allMatches-contentScrollable::-webkit-scrollbar-thumb:active {
  background-color: #8c8c8c;
}
main .matchManager__myMatches--allMatches-contentScrollable-match {
  border: solid 1px transparent;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #dbdbdb;
  transition: background 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.9rem;
}
main .matchManager__myMatches--allMatches-contentScrollable-match p:last-child {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
main .matchManager__myMatches--allMatches-contentScrollable-match:hover {
  background: #B7B7B7;
}
main .matchManager__myMatches--allMatches-contentScrollable-match:active {
  background: #8c8c8c;
}
main .matchEditor {
  flex: 4;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 992px) {
  main .matchEditor {
    flex-direction: column;
  }
}
main .matchEditor_content {
  flex: 3;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  main .matchEditor_content {
    flex: 1;
  }
}
main .matchEditor_content > div {
  border: solid 0px rgb(63, 63, 63);
  box-shadow: 0px 0px 0px #4f4f4f;
  background: #ececec;
  width: 100%;
  border-radius: 2rem;
  padding: 1.5rem;
}
main .matchEditor_content > div h2 {
  margin-bottom: 1.5rem;
}
main .matchEditor_content__titleBanner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: #ececec !important;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  main .matchEditor_content__titleBanner {
    flex-direction: column;
  }
}
main .matchEditor_content__titleBanner--infos {
  flex: 1;
}
@media screen and (max-width: 768px) {
  main .matchEditor_content__titleBanner--infos {
    width: 100%;
  }
}
main .matchEditor_content__titleBanner--infos-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
main .matchEditor_content__titleBanner--infos-title .EB-matchStatus {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  main .matchEditor_content__titleBanner--infos-title .EB-matchStatus {
    justify-content: space-between;
  }
}
main .matchEditor_content__titleBanner--infos-title .EB-matchStatus--tag {
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
  font-size: 0.85rem;
  width: fit-content;
  font-weight: bold;
  display: flex;
  align-items: center;
}
main .matchEditor_content__titleBanner--infos-title .EB-matchStatus--tag i {
  margin-right: 0.45rem;
}
main .matchEditor_content__titleBanner--infos-title .EB-matchStatus--tag.dateState {
  background: rgb(255, 200, 97);
}
main .matchEditor_content__titleBanner--infos-title .EB-matchStatus--tag.publicationState {
  border: solid 1px green;
  color: green;
}
main .matchEditor_content__titleBanner--infos-title h1 {
  margin: 0;
}
main .matchEditor_content__titleBanner--infos-details {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem 0.6rem 0.6rem 0.5rem;
  font-size: 0.9rem;
  position: relative;
}
main .matchEditor_content__titleBanner--infos-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 2px;
  border-radius: 100vh;
  background: #dbdbdb;
}
@media screen and (max-width: 768px) {
  main .matchEditor_content__titleBanner--infos-details::before {
    width: 100%;
    height: 1px;
    background: rgb(165, 165, 165);
  }
}
main .matchEditor_content__titleBanner--infos-details-detail {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: start;
  text-align: justify;
  gap: 1rem;
}
main .matchEditor_content__titleBanner--infos-details-detail .icon {
  min-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  color: #401ACB;
  font-size: 1.05rem;
}
main .matchEditor_content__titleBanner--infos-details-detail.captain .captain-UserName a {
  font-weight: bold;
  color: #401ACB;
}
main .matchEditor_content__titleBanner--infos-details-detail.captain .captain-UserName a:hover {
  color: rgba(64, 26, 203, 0.6);
}
main .matchEditor_content__titleBanner--settings {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.7rem;
  width: fit-content;
  height: 100%;
}
@media screen and (max-width: 768px) {
  main .matchEditor_content__titleBanner--settings {
    width: 100%;
    flex-direction: column;
  }
}
main .matchEditor_content__titleBanner--settings .settingBtn {
  display: flex;
  width: fit-content;
  padding: 0.7rem 1rem;
  border: none;
  font-size: 0.85rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: all 0.2s ease;
}
main .matchEditor_content__titleBanner--settings .settingBtn i {
  margin-right: 0.5rem;
}
main .matchEditor_content__titleBanner--settings .postButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1.2rem;
  border: none;
  background: transparent;
  border: solid 1px #401ACB;
  color: #401ACB;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  border-radius: 1rem;
  width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
}
main .matchEditor_content__titleBanner--settings .postButton div, main .matchEditor_content__titleBanner--settings .postButton i {
  z-index: 1;
}
main .matchEditor_content__titleBanner--settings .postButton i {
  font-size: 1.2rem;
  margin-right: 0.7rem;
}
main .matchEditor_content__titleBanner--settings .postButton::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #A9F706;
}
main .matchEditor_content__titleBanner--settings .postButton::after {
  content: "";
  width: 150%;
  height: 150%;
  border-radius: 100vh;
  position: absolute;
  transform: translate(72%, -72%);
  background: #401ACB;
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}
@media screen and (max-width: 768px) {
  main .matchEditor_content__titleBanner--settings .postButton::after {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    transform: translate(56%, -56%);
  }
}
main .matchEditor_content__titleBanner--settings .postButton:hover {
  color: #A9F706;
}
main .matchEditor_content__titleBanner--settings .postButton:hover::after {
  transform: translate(0%, 0%);
}
main .matchEditor_content__titleBanner--settings .postButton:active {
  transform: scale(0.98);
  transition: transform 0.1s ease;
}
main .matchEditor_content__titleBanner--settings .modifyButton {
  width: 100%;
  background: #ededed;
  border: solid 1px #dbdbdb;
}
main .matchEditor_content__titleBanner--settings .modifyButton:hover {
  background: #dbdbdb;
}
main .matchEditor_content__titleBanner--settings .deleteButton {
  width: 100%;
  background: #ededed;
  border: solid 1px rgb(230, 0, 0);
  color: rgb(230, 0, 0);
}
main .matchEditor_content__titleBanner--settings .deleteButton:hover {
  background: rgb(230, 0, 0);
  color: white;
}
main .matchEditor_content__description {
  min-height: 12rem;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 1160px) {
  main .matchEditor_content__description {
    flex-direction: column-reverse;
  }
}
main .matchEditor_content__description--content {
  display: flex;
  flex-direction: column;
  flex: 1.5;
}
main .matchEditor_content__description--content-txt {
  text-align: justify;
}
main .matchEditor_content__description--card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #f5f5f5;
  padding: 0.3rem;
  border-radius: 1.1rem;
  box-shadow: 0 5px 15px #b9b9b9;
}
main .matchEditor_content__description--card .card__imageContainer {
  overflow: hidden;
  border-radius: 1rem 1rem 0.3rem 0.3rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
main .matchEditor_content__description--card .card__imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .matchEditor_content__description--card .card__contentContainer {
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .matchEditor_content__description--card .card__contentContainer div {
  display: flex;
  align-items: center;
  flex-direction: row;
}
main .matchEditor_content__description--card .card__contentContainer div i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  height: 1rem;
  aspect-ratio: 1;
  color: #401ACB;
}
main .matchEditor_content__description--card .card__contentContainer div p {
  font-size: 0.9rem;
}
main .matchEditor_content__description--card .card__contentContainer div p span {
  font-family: "ApercuPro-Bold", sans-serif;
}
main .matchEditor__bestPlayers {
  box-shadow: 0px 0px 0px #4f4f4f;
  background: #ececec;
  flex: 1;
  height: fit-content;
  border-radius: 2rem;
  padding: 1.5rem;
  position: relative;
  border: solid 2px rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
main .matchEditor__bestPlayers::before {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  background: linear-gradient(130deg, #A9F706, yellow, #A9F706);
  border-radius: 2rem;
}
main .matchEditor__bestPlayers--title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
main .matchEditor__bestPlayers--title i {
  font-size: 1.4rem;
  margin-right: 1rem;
}
main .matchEditor__bestPlayers--players {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
main .matchEditor__bestPlayers--players-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}
main .matchEditor__bestPlayers--players-player-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: solid 1px #401ACB;
  color: #401ACB;
}
main .form-container {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 15;
  inset: 0;
  justify-content: center;
  align-items: center;
}
main .form {
  border-radius: 2rem;
  padding: 2rem;
  height: 70vh;
  width: 60%;
  background: #ececec;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;
}
main .form h2 {
  margin-bottom: 2rem;
}
main .form .fa-close {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
main .form__actions {
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-top: 2rem;
}
main .form__actions button {
  width: 7rem;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
main .form__actions--clear {
  background: #dfdfdf;
}
main .form__actions--clear:hover {
  background: #bfbfbf;
}
main .form__actions--create {
  background: #401ACB;
  color: white;
}
main .form__actions--create:hover {
  background: #491fe2;
}

footer {
  width: 100%;
  height: 10rem;
  margin-top: 4rem;
  background-color: hsl(235, 6%, 20%);
}
